$color-background-tertiary: hsl(165, 60%, 94%);
$color-background-secondary: #effbf8;
$color-background: #f8fdfc;
$color-primary: #26e5bc;
$color-primary-darkened: hsl(167, 79%, 45%);
$color-secondary-lightened: #83f1d9;
$color-secondary: #81f1d9;
$color-accent: #1C6758;
$color-accent-lightened: #17826d;

$color-text: #2b2b2b;
$color-text-secondary: #555555;