$color-background-4: hsl(165, 65%, 85%);
$color-background-5: hsl(165, 65%, 90%);
$color-background-tertiary: hsl(165, 65%, 94%);
$color-background-secondary: hsl(165, 60%, 96%);
$color-background: hsl(170, 60%, 98%);
$color-primary: #26e5bc;
$color-primary-darkened: #18cda6;
$color-primary-darkened-2: #15b794;
$color-secondary-lightened: #83f1d9;
$color-secondary: #81f1d9;
$color-accent: #1C6758;
$color-accent-lightened: #17826d;

$color-text: #2b2b2b;
$color-text-secondary: #555555;